* {
    margin: 0;
}


/* heading section */

.menu-container {
    background-color: rgb(72, 70, 70);
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
}

.logo>img {
    /* height: 50px ; */
    width: 150px;
}

.menu {
    font-size: 23px;
    gap: 40px;
    list-style: none;
    text-decoration: none;
    display: flex;
    cursor: pointer;
}

.menu li:hover {
    color: darkkhaki;
}

/* banner section */

.banner-container {
    display: flex;
    padding: 150px 100px;
    background-color: black;
    color: aliceblue;
    gap: 200px;
    margin-bottom: 50px;
    align-items: center;
}

.banner-title {
    font-size: 75px;
    font-weight: 700;
    padding-bottom: 20px;
}

.banner-paragraph {
    padding-bottom: 20px;
    font-size: large;
    font-weight: 200;
}

.btn-primary {
    padding: 15px 20px;
    border: 0;
    border-radius: 5px;
    color: aliceblue;
    font-size: medium;
    font-weight: 200;
    background-color: deeppink;
}

.banner-img img {
    width: 300px;
    height: 300px;
}

/* about-section */

.about-container {
    display: flex;
    text-align: left;
    gap: 300px;
    padding: 30px 150px;
}


.about>h3 {
    font-size: 75px;
    font-weight: 700;
    text-align: center;
}

.about-img img {
    width: 300px;
}

.about-title {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 30px;
}

.about-paragraph {
    color: darkgray;
    padding-bottom: 20px;
    font-size: large;
    font-weight: 200;
}