* {
    margin: 0;
}


/* heading section */

.menu-container {
    background-color: rgb(72, 70, 70);
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
}

.logo>img {
    /* height: 50px ; */
    width: 150px;
}

.menu {
    font-size: 23px;
    gap: 40px;
    list-style: none;
    text-decoration: none;
    display: flex;
    cursor: pointer;
}

.menu li:hover {
    color: darkkhaki;
}

/* banner section */

.banner-container {
    display: flex;
    padding: 150px 100px;
    background-image: url("../images/background.png"), linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
    /* height: 100vh; */
    color: aliceblue;
    gap: 200px;
    margin-bottom: 50px;
    align-items: center;
}

.banner-title {
    font-size: 75px;
    font-weight: 700;
    padding-bottom: 20px;
}

.banner-paragraph {
    padding-bottom: 20px;
    font-size: large;
    font-weight: 200;
}

.btn-primary {
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    font-size: medium;
    font-weight: 200;
    background-color: deeppink;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: orangered;
    color: whitesmoke;
}

.banner-img img {
    width: 300px;
    height: 300px;
}

/* about-section */

.about-container {
    display: flex;
    text-align: left;
    gap: 300px;
    padding: 30px 150px;
}


.about>h3 {
    font-size: 75px;
    font-weight: 700;
    text-align: center;
}

.about-img img {
    width: 300px;
}

.about-title {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 30px;
}

.about-paragraph {
    color: darkgray;
    padding-bottom: 20px;
    font-size: large;
    font-weight: 200;
}

/* service-section */

.service {
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding: 100px 150px 50px;
}

.service>h3 {
    font-size: 75px;
    font-weight: 700;

}

.service-container {
    display: flex;
    gap: 80px;
    padding-top: 40px;
}

.types img {
    width: 100px;
    padding-bottom: 10px;
}

.types {
    padding: 20px 20px 30px;
    border: 0px;
    box-shadow: 2px 2px 50px 2px white;
    border-radius: 10px;
}

.service-title {
    font-size: 25px;
    font-weight: 700;
}

.service-paragraph {
    padding: 10px 30px 30px;
    font-size: large;
    font-weight: 200;
}

.btn {
    background-color: black;
}

/* footer section */

footer {

    background-color: rgb(46, 44, 44);
    color: aliceblue;
    text-align: center;
    padding: 50px 100px;
}

.footer {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.footer-type img {
    width: 150px;
    padding-bottom: 20px;
}

.footer-type {
    padding: 20px;
    text-align: justify;
    /* border: 10px wheat solid; */
}

.type-1 {
    /* padding-right: 100px; */
}

.type-2 h3 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 30px;
}

.type-2 a {
    text-decoration: none;
    color: aliceblue;
}

.type-3 h3 {
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
}

.type-3 p {
    padding-bottom: 5px;
}

.type-4 h3 {
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
}

.type-4 p {
    padding-bottom: 10px;
}